<% breadcrumb :admin_pages %>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Редактирование</h3>
    </div>
    <div class="panel-body">
        <%= render 'form' %>
            <%= link_to 'Показать', admin_page_path(@page) %> |
                <%= link_to 'Назад', admin_pages_path %>
    </div>
</div>
