<% breadcrumb :admin_settings %>

<h1>Настройки</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Редактирование</h3>
    </div>
    <div class="panel-body">
        <%= render 'form' %>
            <%= link_to 'Назад', admin_root_path %>
    </div>
</div>
