<% breadcrumb :admin_products_categories %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Редактирование</h3>
    </div>
    <div class="panel-body">
        <%= render 'form' %>
            <%= link_to 'Показать', admin_products_category_path(@products_category) %> |
                <%= link_to 'Назад', admin_products_categories_path %>
    </div>
</div>
