<div class="row">
    <div class="col-md-6">
        <h1>Новая категория</h1>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="createCategory()" ng-disabled="category.$invalid"><i class="fa fa-save"></i></button>
        </div>
    </div>
</div>
<form name="category" class="form-horizontal">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" data-target="#base">Основные</a>
        </li>
        <li>
            <a data-toggle="tab" data-target="#seo">SEO</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="base" class="tab-pane fade in active">
            <h3>Основные</h3>
            <div class="form-group">
                <label for="title" class="col-md-2 control-label">Название</label>
                <div class="col-md-10">
                    <input ng-model="categoryTitle" type="text" name="category[title]" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-2 control-label">Родительская категория</label>
                <div class="col-md-10">
                    <select name="category[parent]" id="category_parent" ng-model="categoryParent" class="form-control">
                        <option ng-repeat="category in categories | orderBy:'selfAndAncestors[0].title'" value="{{category.id}}">
                            <!-- <span ng-repeat="a in category.selfAndAncestors">{{a.title}}{{$last ? '' : ' > '}}</span> -->
                            {{categoryPath(category.selfAndAncestors)}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-2 control-label">Описание</label>
                <div class="col-md-10">
                    <textarea ng-model="categoryDescription" name="category[description]" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-2 control-label">Обложка</label>
                <div class="col-md-10">
                    <div class="btn btn-default" name="category[cover]" ngf-select ng-model="cover">Выбрать файл</div>
                    <br/>
                    <div class="help-block">
                        <div class="thumbnail" style="width: 105px; height: 105px;">
                            <img ngf-src="cover" ngf-background="cover" ngf-resize="{width: 100, height: 100, quality: 0.5}" />
                            <!-- <img ng-src="{{ product.thumb.url }}" class="thumbnail"> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-2 control-label">Опубликовать</label>
                <div class="col-md-10">
                    <input type="checkbox" ng-model="categoryActive" ng-init="categoryActive = true" name="category[active]" ng-checked="categoryActive">
                </div>
            </div>
        </div>
        <div id="seo" class="tab-pane fade">
            <h3>SEO</h3>
            <div class="form-group">
                <label for="" class="col-md-2 control-label">SEO title</label>
                <div class="col-md-10">
                    <input ng-model="categorySeoTitle" type="text" name="category[seo_title]" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-2 control-label">SEO description</label>
                <div class="col-md-10">
                    <textarea ng-model="categorySeoDescription" name="category[seo_description]" id="" rows="5" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
